<div class = "row">
  <div class = 'span0 well text-center'> 
    <!-- generated via routes.rb file. vote_path_path(post) opens itself to a URL post/id/vote which is the URL endpoint we are after. However, it's a POST HTTP request not a GET. When you make a POST request, DELETE, PATCH etc Rails uses Java Script to submit a form for you. By adding method: 'post' Rails is automatically submitting a Form in the background. In the front end you notice a a data-method which builds a form on the fly and submits the parameters for you -->
    <%= link_to vote_post_path(post, vote: true), method: 'post' do %>
      <% if logged_in? %>
      <i class = 'icon-arrow-up'></i>
      <%end%>
    <%end%>    
<br>
    <%= post.total_votes %>
<br>
    
    <%= link_to vote_post_path(post, vote: false), method: 'post' do %>
      <%if logged_in? %>
      <i class = 'icon-arrow-down'></i>
      <%end%>
    <%end%>
</div>
      
      
      
    <div class ='span8 well'>
      <%= render post.categories %>
      <h4><%= link_to post.title, fix_url(post.url) %></h4>
      <p><%= post.description%></p>
      <p>
      <span class='quiet'>posted by</span> <%=post.user.username%>
        <small> at <%= date_time(post.created_at) %></small>
      </p>
      <small>
        <span>
          <%= link_to("#{post.comments.size} comments", post_path(post)) %> <!-- Show path for the comments -->
          <br>
          <%= link_to "Edit", edit_post_path(post) if logged_in? %>
        </span>
      </small>
      
    </div>
</div>


