<%= render 'share/content_title', title: "All Posts" %>


<% @posts.each do |post| %>
  <div class = "row">
    <div class ='span8 well'>
      <% post.categories.each do |category|%> 
      <!-- have to use post.categories as in index action there is no @category instance variable. So category data needs to be called via the inner join table post_categories -->
      <span class="badge"> <%= category.name%> </span> 
      <!-- badge is twitter bootstrap -->
      <%end%>
      <h4><%= link_to post.title, post.url %></h4>
      <p><%= post.description%></p>
      <p>
      <span class='quiet'>posted by</span> <%=post.user.username%>
        <small> at <%= post.created_at%></small>
      </p>
      <small>
        <span>
          <%= link_to("#{post.comments.size} comments", post_path(post)) %> <!-- Show path for the comments -->
          <br>
          <%= link_to "Edit", edit_post_path(post) %>
        </span>
      </small>
      
    </div>
  </div>
<%end%>

