<%= render 'share/content_title', title: "Create New Category" %>

<%= render 'share/errors', obj: @category %>

<div class = 'well'>
  <%= form_for @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.submit "Create Category", class: 'btn btn-primary' %>
    
  <% end %>
  
</div>